<h1>Listing secrets</h1>
<!-- 
  Note that we have to pass the instance variable in here 
  because will_paginate looks for @secrets - it ignores the
  namespace
-->
<%- paginated_section @admin_secrets, :class => "digg_pagination" do -%>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% for secret in @admin_secrets %>
  <tr>
    <td><%=h secret.name %></td>
    <td><%= link_to 'Show', admin_secret_path(:id => secret, :page => page_param) %></td>
    <td><%= link_to 'Edit', edit_admin_secret_path(:id => secret, :page => page_param) %></td>
    <td><%= link_to 'Destroy', admin_secret_path(:id => secret, :page => page_param), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%- end -%>

<p>
<%= link_to 'New secret', new_admin_secret_path(:page => page_param) %>
</p>