<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Tasks: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold', 'pagination' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<ul>
  <li><%= link_to "Tasks", tasks_path %></li>
  <li><%= link_to "Pages", pages_path %></li>
  <li><%= link_to "Admin Pages", admin_pages_path %> | <%= link_to "(pending)", pending_admin_pages_path %></li>
  <li><%= link_to "Admin Secrets", admin_secrets_path %></li>
</ul>

<%= yield  %>

</body>
</html>
